<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Produtcs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
    <script>
        function clearFields(){
            document.getElementById("name").value = "";
            document.getElementById("type").value = "";
            searchButton.disabled = false;
        }

        addTobasket = () => {
            const form = document.getElementById("addForm");
            const productIds = [...document.getElementsByName("productId")].filter(i => i.checked).map(i => i.value);

            if(productIds.length === 0){
                alert("Select at least on product to add to basket");
                return;
            }

            productIds.forEach(id => {
                let input = document.createElement('input');
                input.setAttribute('name', 'productsId');
                input.setAttribute('value', id);
                input.setAttribute('type', 'hidden');

                form.appendChild(input);
            });

            form.submit();
        }

        clearBasket = () => {
                const userId = document.getElementById("userId").value;
            if(confirm('Do you want to clear the basket?')){
                location.href = "/basket/clear?userId=" + userId;
            }
        }

        onChangeProductName = () => {
            const productNameInput = document.getElementById("name");
            const searchButton = document.getElementById("btnSearch");
            const messageOnlyNumbers = document.getElementById("messageOnlyNumbers");

            if(productNameInput.value === "" || /^[a-zA-Z]+$/.test(productNameInput.value)){
                const classes = productNameInput.className.split(" ").filter(c => c !== 'is-invalid');
                productNameInput.className = classes.toString();
                searchButton.disabled = false;
                messageOnlyNumbers.style.display = "none";
            }else{
                productNameInput.className += " is-invalid";
                searchButton.disabled = true;
                messageOnlyNumbers.style.display = "inline";
            }
        }
    </script>
    <div class="container">
        <input type="hidden" id="errorMessage" th:value="${errorMessage}"/>
        <input type="hidden" id="message" th:value="${message}"/>
        <form action="find">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="name">Product name</label>
                        <input type="text" name="name" id="name" th:value="${name}" class="form-control"
                               maxlength="30" size="40" placeholder="Type the product number"
                               onkeyup="onChangeProductName()">
                        <div class="invalid-feedback">
                            Insert only letters please
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="type">Type</label>
                        <select name="type" id="type"  th:value="${type}" class="form-control">
                            <option th:value="''" th:selected="${type == ''}">Select one</option>
                            <option th:value="'books'" th:text="Books" th:selected="${type == 'books'}"></option>
                            <option th:value="'music'" th:text="Music" th:selected="${type == 'music'}"></option>
                            <option th:value="'games'" th:text="Games" th:selected="${type == 'games'}"></option>
                        </select>
                    </div>
                </div>
                <div class="col" style="padding-top: 30px">
                    <button id="btnSearch" type="submit"  class="btn btn-primary">Search</button>
                    <button type="button" onclick="clearFields()"  class="btn btn-primary">Clear filters</button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col">
                Product List
                <table class="table  table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Category</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="prod: ${products}">
                        <td th:text="${prod.name}"></td>
                        <td th:text="${prod.type}"></td>
                        <td><input type="checkbox" th:value="${prod.id}" name="productId"></td>
                    </tr>
                    </tbody>
                </table>
                <button type="button" onclick="addTobasket()"
                        class="btn btn-primary pull-right">Add to basket</button>
            </div>
            <div class="col">
                My basket
                <table class="table  table-striped">
                    <thead>
                    <tr>
                        <th>Product</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="basket: ${userBasket}">
                        <td th:text="${basket.product.name}"></td>
                    </tr>
                    </tbody>
                </table>
                <button type="button" onclick="clearBasket()"
                        class="btn btn-primary pull-right">Clear basket</button>
            </div>
        </div>
        <form action="/basket/add" id="addForm"  method="post">
            <input type="hidden" id="userId" name="userId" th:value="${loggedUser.getUserID()}"/>
        </form>
    </div>
    <script>
        const errorMessage = document.getElementById("errorMessage");
        if(errorMessage.value){
            setTimeout(()=>alert(errorMessage.value), 1000);
        }

        const message = document.getElementById("message");
        if(message.value){
            setTimeout(()=>alert(message.value), 1000);
        }
    </script>
</body>
</html>